<h1><%= t '.title' %></h1>

<table>
  <thead>
    <tr>
      <th><%= t '.avatar' %></th>
      <th><%= t '.name' %></th>
      <th><%= t '.actions' %></th>
    </tr>
  </thead>

  <%= render @contestants %>
</table>

<br>

<%= link_to t('.new'), new_admin_contestant_path if Poll.finished? %>
