<% @contestants_ids.each_with_index do |contestant, index| %>
  <%= content_tag :div, id: "contestant_#{contestant}_container", class: 'contestant' do %>
  <%= content_tag :h4, t('.contestant', contestant: (index + 1)) %>

  <%= contestant_avatar contestant do %>
    <div class="inner"></div>
    <%= radio_button_tag :contestant, contestant %>
    <% end %>

    <p class="call-for-action">
      <%= t(".call_for_action", contestant: (index + 1)).html_safe %>
    </p>
  <% end %>
<% end %>
